<!DOCTYPE html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Tom Preston-Werner" />
  <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />
  <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

  <!-- Bootstrap JavaScript -->
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>

</head>
<body>

  <div class="container">

    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span6">
          <h1>Dan Knox</h1>
          <p class="lead">Thoughts. Comments. Projects.</p>
        </div>
      </div>

      <div class="subnav">
        <ul class="nav nav-pills" id="main-navigation">
          <li><a class="{% if page.current == "home" %}active{% endif %}" href="#typography">Home</a></li>
          <li><a href="#navbar">About Me</a></li>
        </ul>
      </div>

    </header>

    {{ content }}

    <footer>
      &copy Dan Knox 2012
    </footer>

  </div>
</body>
</html>
